.ro-cp-language {
    .ro-cp-language-box {
        width: 3vw;
        height: .35vw;
    }

    .ro-cp-language-full {
        width: 3vw;
        height: .35vw;
        
        background-color: var(--ro-primary);
    }

    .ro-cp-language-empty {
        width: 3vw;
        height: .35vw; 
        background-color: var(--ro-light-primary);
    }
}
