<div class="ro-cp-languages">

    <ng-container *ngFor="let language of languages">

        <div class="ro-flex-row ro-align-center ro-flex-fill ro-cp-language">

            <div class="ro-cp-language-circle ro-cp-language-{{ language.level }} ro-flex-column ro-justify-center ro-align-center">
                <div class="ro-cp-level-text">
                    {{ language.level }}%
                </div>
            </div>

            <div class="ro-margin-left-sm ro-cp-language-name">
                {{ language.type }}
            </div>


        </div>

    </ng-container>

</div>