.ro-cp-language-full {
    width: 3vw;
    height: .35vw;
    z-index: 99999;
    background-color: var(--ro-primary);
}

.ro-cp-language-empty {
    width: 3vw;
    height: .35vw;
    z-index: 99999;
    background-color: var(--ro-light-primary);
}

@media print {
    .ro-cp-language-full, .ro-cp-language-empty {
        -webkit-print-color-adjust: exact;
    }
}
