.ro-cp-language-block-container {
    width: 100%;
}

.ro-cp-language-block {
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.ro-cp-language-block-active {
    text-decoration: underline;
}
