.ro-cp-main-container {
    height: 100vh;
    max-height: 100vh;
}

.ro-cp-main-resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ro-language-bar {
    @media print {
        display: none;
    }
}