.ro-cp-main-container {
    height: 100vh;
    max-height: 100vh;

    // Desktop
    #resume-desktop {
        display: block;
    }
    #resume-mobile {
        display: none;
    }

    // Mobile
    @media screen and (max-width: 950px) {
        #resume-desktop {
            display: none;
        }
        #resume-mobile {
            display: block;
        }
    }
}

.ro-cp-main-resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ro-language-bar {
    @media print {
        display: none;
    }
}

