<div class="ro-cp-resume-container ro-padding-xxxl">

    <ng-container *ngIf="resumeData">

        <div class="ro-flex-row ro-align-center rp-cp-title-container">

            <div class="ro-cp-picture-container">
                <img [src]="resumeAssets.picture" class="ro-cp-resume-pic ro-margin-right-xl">
            </div>

            <div class="ro-cp-resume-title ro-flex-fill">
                <div class="title">
                    {{ resumeData.profile.name }}
                </div>

                <div class="subtitle">
                    {{ resumeData.profile.title }}
                </div>
            </div>

            <div class="ro-cp-download-btn">

                <a (click)="printAsPdf('resume')">
                    <fa-icon [icon]="faDownload" class="ro-text-secondary"></fa-icon>
                </a>

            </div>

        </div>

        <div class="ro-flex-row ro-margin-top-xl">

            <div class="ro-cp-left-panel ro-margin-right-xl ">

                <div>
                    <label>{{resumeAssetsI18n.PROFILE}}</label>
                    <div>{{ resumeData.profile.catchphrase }}</div>
                </div>

                <div class="ro-margin-top-l ro-flex-column">
                    <label>{{resumeAssetsI18n.PERSONAL_DETAILS}}</label>

                    <label class="ro-cp-details-label ro-margin-top-sm">{{resumeAssetsI18n.BIRTH_DATE}}</label>
                    <div>{{ resumeData.profile.birthdate }}</div>

                    <label class="ro-cp-details-label ro-margin-top-sm">{{resumeAssetsI18n.NATIONALITY}}</label>
                    <div>{{ resumeData.profile.nationality }}</div>

                    <label class="ro-cp-details-label ro-margin-top-sm">{{resumeAssetsI18n.LOCALISATION}}</label>
                    <div>{{ resumeData.profile.localisation }}</div>
                </div>

                <div class="ro-margin-top-l ro-flex-column">
                    <label>{{resumeAssetsI18n.CONTACT}}</label>

                    <ro-contact-block [contacts]="resumeData.contacts"></ro-contact-block>

                </div>

            </div>

            <div class="ro-cp-right-panel ro-flex-fill">

                <div class="ro-cp-resume-block">

                    <label>{{resumeAssetsI18n.PROFESSIONAL_EXPERIENCE}}</label>

                    <div class="ro-flex-column ro-flex-fill">

                        <ro-experience-block [experiences]="resumeData.experiences"></ro-experience-block>

                    </div>
                </div>

                <div class="ro-cp-resume-block ro-margin-top-xl">

                    <label>{{resumeAssetsI18n.EDUCATION}}</label>

                    <div class="ro-flex-column ro-flex-fill">

                        <ro-experience-block [experiences]="resumeData.educations"></ro-experience-block>

                    </div>
                </div>

                <div class="ro-cp-resume-block ro-margin-top-xl">

                    <label>{{resumeAssetsI18n.SKILLS}}</label>

                    <div class="ro-flex-column ro-flex-fill">

                        <ro-skill-block [skills]="resumeData.skills"></ro-skill-block>

                    </div>
                </div>

                <div class="ro-cp-resume-block ro-margin-top-xl">

                    <label>{{resumeAssetsI18n.LANGUAGES}}</label>

                    <div class="ro-flex-column ro-flex-fill">

                        <ro-language-block [languages]="resumeData.languages"></ro-language-block>

                    </div>
                </div>

            </div>

        </div>

    </ng-container>

</div>