.ro-cp-resume-container {
    max-width: var(--ro-max-container-size);
    margin: 0 auto;
}

.ro-cp-picture-container {
    width: 25%;
}

.ro-cp-resume-pic {
    border-radius: 50%;
    width: 16em;
    height: 16em;
}

label {
    font-weight: bold;
    font-size: 1.3em;
}

.ro-cp-resume-title {
    .title {
        font-size: 4em;
        font-weight: bold;
        color: var(--ro-text-secondary);
    }

    .subtitle {
        font-size: 1.5em;
        font-weight: bold;
        color: var(--ro-text-primary);
    }
}

.ro-cp-download-btn {
    fa-icon {
        font-size: 2.3em;
        &:hover {
            cursor: pointer;
        }
    }

    @media print {
        display: none;
    }
}

.ro-cp-left-panel {
    width: 18em;


    .ro-cp-details-label {
        color: var(--ro-text-secondary);
        font-weight: bold;
    }
}

.ro-cp-right-panel {
    margin-left: 1.0416em;
}

  