.ro-flex-row {
    display: flex;
    flex-direction: row;
}

.ro-flex-column {
    display: flex;
    flex-direction: column;
}

.ro-align-center {
    align-items: center;
}

.ro-justify-space-between {
    justify-content: space-between;
}

.ro-justify-space-around {
    justify-content: space-around;
}

.ro-justify-space-start {
    justify-content: flex-start;
}

.ro-justify-space-end {
    justify-content: flex-end;
}

.ro-justify-center {
    justify-content: center;
}

.ro-flex-fill {
    flex: 1 1 auto;
}

.ro-flex-2 {
    flex: 2;
}

.ro-flex-3 {
    flex: 3;
}

.ro-flex-4 {
    flex: 4;
}

.ro-flex-10 {
    flex: 10;
}