.ro-padding {
    padding: 12px;
}

.ro-padding-xl {
    padding: 20px;
}

.ro-padding-xxxl {
    padding: 50px;
}

.ro-padding-sm {
    padding: 6px;
}

.ro-padding-top {
    padding-top: 12px;
}

.ro-padding-top-sm {
    padding-top: 6px;
}

.ro-padding-bottom {
    padding-bottom: 12px;
}

.ro-padding-bottom-sm {
    padding-bottom: 6px;
}

.ro-padding-left {
    padding-left: 12px;
}

.ro-padding-left-sm {
    padding-left: 6px;
}

.ro-padding-right {
    padding-right: 12px;
}

.ro-padding-right-sm {
    padding-right: 6px;
}

.ro-padding-0 {
    padding: 0;
}

.ro-padding-top-0 {
    padding-top: 0;
}

.ro-padding-bottom-0 {
    padding-bottom: 0;
}

.ro-padding-left-0 {
    padding-left: 0;
}

.ro-padding-right-0 {
    padding-right: 0;
}

.ro-margin {
    margin: 12px;
}

.ro-margin-sm {
    margin: 6px;
}

.ro-margin-top {
    margin-top: 12px;
}

.ro-margin-top-xl {
    margin-top: 18px;
}

.ro-margin-top-sm {
    margin-top: 6px;
}

.ro-margin-bottom {
    margin-bottom: 12px;
}

.ro-margin-bottom-sm {
    margin-bottom: 6px;
}

.ro-margin-left {
    margin-left: 12px;
}

.ro-margin-left-sm {
    margin-left: 6px;
}

.ro-margin-right {
    margin-right: 12px;
}

.ro-margin-right-sm {
    margin-right: 6px;
}

.ro-margin-x {
    margin: 0 12px;
}

.ro-margin-x-sm {
    margin: 0 6px;
}

.ro-margin-y {
    margin: 12px 0;
}

.ro-margin-y-sm {
    margin: 6px 0;
}

.ro-margin-0 {
    margin: 0;
}

.ro-margin-top-0 {
    margin-top: 0;
}

.ro-margin-bottom-0 {
    margin-bottom: 0;
}

.ro-margin-left-0 {
    margin-left: 0;
}

.ro-margin-right-0 {
    margin-right: 0;
}
