.ro-padding {
    padding:  0.625vw;
}

.ro-padding-xl {
    padding: 1.041vw;
}

.ro-padding-xxxl {
    padding: 4.61vw;
}

.ro-padding-sm {
    padding: .3125vw;
}

.ro-padding-top {
    padding-top:  0.625vw;
}

.ro-padding-top-sm {
    padding-top: .3125vw;
}

.ro-padding-bottom {
    padding-bottom:  0.625vw;
}

.ro-padding-bottom-sm {
    padding-bottom: .3125vw;
}

.ro-padding-left {
    padding-left:  0.625vw;
}

.ro-padding-left-sm {
    padding-left: .3125vw;
}

.ro-padding-right {
    padding-right:  0.625vw;
}

.ro-padding-right-sm {
    padding-right: .3125vw;
}

.ro-padding-0 {
    padding: 0;
}

.ro-padding-top-0 {
    padding-top: 0;
}

.ro-padding-bottom-0 {
    padding-bottom: 0;
}

.ro-padding-left-0 {
    padding-left: 0;
}

.ro-padding-right-0 {
    padding-right: 0;
}

.ro-margin {
    margin:  0.625vw;
}

.ro-margin-sm {
    margin: .3125vw;
}

.ro-margin-top {
    margin-top:  0.625vw;
}

.ro-margin-top-xl {
    margin-top: 3.9375vw;
}

.ro-margin-top-sm {
    margin-top: .3125vw;
}

.ro-margin-bottom {
    margin-bottom:  0.625vw;
}

.ro-margin-bottom-sm {
    margin-bottom: .3125vw;
}

.ro-margin-left {
    margin-left:  0.625vw;
}

.ro-margin-left-sm {
    margin-left: .3125vw;
}

.ro-margin-right {
    margin-right:  0.625vw;
}

.ro-margin-right-sm {
    margin-right: .3125vw;
}

.ro-margin-right-xl {
    margin-right:  1.9375vw;
}

.ro-margin-x {
    margin: 0  0.625vw;
}

.ro-margin-x-sm {
    margin: 0 .3125vw;
}

.ro-margin-y {
    margin:  0.625vw 0;
}

.ro-margin-y-sm {
    margin: .3125vw 0;
}

.ro-margin-0 {
    margin: 0;
}

.ro-margin-top-0 {
    margin-top: 0;
}

.ro-margin-bottom-0 {
    margin-bottom: 0;
}

.ro-margin-left-0 {
    margin-left: 0;
}

.ro-margin-right-0 {
    margin-right: 0;
}
