.ro-cp-resume-container {
    width: 70vw;
    margin: 1.5625vw auto;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.ro-cp-picture-container {
    width: 18vw;
}

.ro-cp-resume-pic {
    border-radius: 50%;
    width: 16vw;
    height: 16vw;
}

label {
    font-weight: bold;
    font-size: 1.3vw;
}

.ro-cp-resume-title {

    .title {
        font-size: 4vw;
        font-weight: bold;
        color: var(--ro-text-secondary);
    }

    .subtitle {
        font-size: 1.5vw;
        font-weight: bold;
        color: var(--ro-text-primary);
    }
}

.ro-cp-left-panel {
    width: 18vw;

    .ro-cp-details {
        margin-top: 1.3125vw;

        .ro-cp-details-label {
            color: var(--ro-text-secondary);
            font-weight: bold;
        }
    }

    .ro-cp-contacts {
        margin-top: 1.3125vw;

        .ro-cp-contacts-label {
            color: var(--ro-text-secondary);
            font-weight: bold;
        }
    }
}

.ro-cp-right-panel {
    margin-left: 1.0416vw;
}
