@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&family=Roboto&display=swap");
@import "style-sheets/flex.scss";
@import "style-sheets/margin-padding.scss";
@import "style-sheets/style-class.scss";
@import "style-sheets/color.scss";
@import "style-sheets/ro-scrollbar.scss";
@import "style-sheets/animations.scss";

body {
    font-family: "Poppins", sans-serif;
    margin: 0 !important;

    --ro-primary: #0b7af3;
    --ro-dark-primary: #0b5fb9;
    --ro-light-primary: #92c7ff;
    --ro-secondary: #000000;

    --ro-text-white: #ffffff;
    --ro-text-primary: #000000;
    --ro-text-secondary: #0b7af3;

    --ro-primary-background: #ffffff;

    --ro-border-color: rgba(0, 0, 0, 0.14);

    --ro-toolbar-background-color: #c1dbf7;
    --ro-toolbar-foreground-color: #0b7af3;
    --ro-toolbar-foreground-color-hover: #0b5fb9;
    font-size: 1vw;
}

a {
    text-decoration: none;
}
