@import "style-sheets/flex.scss";
@import "style-sheets/margin-padding.scss";
@import "style-sheets/style-class.scss";
@import "style-sheets/color.scss";
@import "style-sheets/ro-scrollbar.scss";

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Regular.ttf') format('truetype');
 }

body {
    --font-main:  'Poppins', sans-serif;

    --ro-primary: #0b7af3;
    --ro-dark-primary: #0b5fb9;
    --ro-light-primary: #92c7ff;
    --ro-secondary: #000000;

    --ro-text-white: #ffffff;
    --ro-text-primary: #000000;
    --ro-text-secondary: #0b7af3;

    --ro-primary-background: #ffffff;

    --ro-border-color: rgba(0, 0, 0, 0.14);

    --ro-toolbar-background-color: #c1dbf7;
    --ro-toolbar-foreground-color: #0b7af3;
    --ro-toolbar-foreground-color-hover: #0b5fb9;

    --ro-max-container-size: 1200px;
    
    font-size: 16px;
    @media print {
        font-size: 9px !important;
    }
    margin: 0 !important;
    font-family: var(--font-main);
}

a {
    text-decoration: none;
}
